<% content_for :footerText do %>
	<p>Content for footerText: Styles Index</p>
<% end %>

<h1>Listing styles</h1>
<%= link_to 'Add new style', new_style_path if session[:admin_id] %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Stil</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
	<% cache ['storeStyle', Style.latest] do %>
		<% @styles.each do |style| %>
			  <% cache ['entry', style] do %>
				  <tr>
					<td><%= style.stil %></td>
					<% if session[:admin_id]%>
					<td><%= link_to 'Show', style, class: 'btn btn-default btn-xs'  %></td>
					<td><%= link_to 'Edit', edit_style_path(style), class: 'btn btn-info btn-xs' %></td>
					<td><%= link_to 'Destroy', style, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } %></td>
					<% end %>
				  </tr>
			  <% end %>
		<% end %>
	<% end %>
  </tbody>
</table>

<br>
<% if session[:admin_id]%>
<%= link_to 'New Style', new_style_path %>
<% end %>
