<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	  <div class="field">
		<%= f.label :studio_id %><br>
		<%= f.select :studio_id, GETSTUDIOS   %>
	  </div>
	  <div class="field textCapitalize">
		<%= f.label :style_id %><br>
		<%= f.select :style_id, GETSTYLES,{},class:'textCapitalize' %>
	  </div>
	  <div class="field">
		<%= f.label :start %><br>
		<%= f.text_field :start %>
	  </div>
	  <div class="field">
		<%= f.label :end %><br>
		<%= f.text_field :end %>
	  </div>
	  <div class="field textCapitalize">
		<%= f.label :weekday %><br>
		<%= f.select :weekday, WEEKDAYS,{},class:'textCapitalize'   %>
	  </div>
	  <div class="actions">
		<%= f.submit %>
	  </div>
<% end %>
