<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	  <div class="field">
		<%= f.label :studio_id %><br>
		<%= f.select :studio_id, ApplicationHelper::GETSTUDIOS   %>
	  </div>
	  <div class="field textCapitalize">
		<%= f.label :style_id %><br>
		<%= f.select :style_id, ApplicationHelper::GETSTYLES,{},class:'textCapitalize' %>
	  </div>
		<div>
			Time form: HH:MM
		</div>
	  <div class="field">
		<%= f.label :start, 'Beginn of class' %><br>
		<%= f.text_field :start %>
	  </div>
	  <div class="field">
		<%= f.label :ending, 'End of class'  %><br>
		<%= f.text_field :ending %>
	  </div>
	  <div class="field textCapitalize">
		<%= f.label :weekday %><br>
		<%= f.select :weekday, ApplicationHelper::WEEKDAYS,{},class:'textCapitalize'   %>
	  </div>
	  <div class="actions">
		<%= f.submit %>
	  </div>
<% end %>
