<h1>Listing courses</h1>

<!-- rails search -->
<%= form_for courses_path, method: :get do %>
	<p>
			<%= select_tag :searchstudio, options_for_select(Course::GETSTUDIOS), 		class:'textCapitalize'   %>	
	</p>
	<p>
		<%= select_tag :searchweekday, options_for_select(Course::WEEKDAYS), 		class:'textCapitalize'   %>	
	</p>
	
	<p><%= submit_tag "Search", name: nil %></p>
	<%= link_to 'Reset Search', courses_path %>
<% end %>
<!-- END rails search -->


	<%= link_to 'New Course', new_course_path, class: "right"  if session[:admin_id]%>
	
<table class="table table-striped">
  <thead>
    <tr>
      <th>Studio</th>
      <th>Style</th>
      <th>Start</th>
      <th>End</th>
      <th>Weekday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% cache ['storeCourse', Course.latest] do %> 
		<% @courses.each do |course|
			stil = @styles.find_by(id: course.style_id).stil
			studioName = @studios.find_by(id: course.studio_id).name
		%>
			<% cache ['entry', course] do %> 	
				<tr class=" <%= stil.delete(' ')+' '+course.weekday+' '+course.start.sub(':', '') %>">
					<td class=" <%= studioName.delete(' ')%>"><%=  link_to studioName,
						studio_path(course.studio_id)  %></td>
					<td class="textCapitalize <%= stil.delete(' ')  %>" ><%= stil  %></td>
					<td class=" <%= course.start%>"><%= course.start %></td>
					<td class=" <%= course.end%>"><%= course.end %></td>
					<td class="textCapitalize <%= course.weekday%>" ><%= course.weekday %></td>
					<% if session[:admin_id]%>
						<td><%= link_to 'Show', course, class: 'btn btn-default btn-xs' %></td>
						<td><%= link_to 'Edit', edit_course_path(course), class: 'btn btn-info btn-xs' %></td>
						<td><%= link_to 'Destroy', course, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } %></td>
					<% end %>
				</tr>
			<% end %>
		<% end %>
	<% end %>
  </tbody>
</table>

<br>

	<%= link_to 'New Course', new_course_path, class: "right"  if session[:admin_id]%>
