<p id="notice"><%= notice %></p>

<p>
  <strong>Studio:</strong>
  <%=  @course.studio_name %>
</p>

<p class="textCapitalize">
  <strong>Style:</strong>
  <%= @course.style_name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @course.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @course.ending %>
</p>

<p class="textCapitalize">
  <strong>Weekday:</strong>
  <%= @course.weekday %>
</p>

<% if session[:admin_id]%>
<%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>
<%= link_to 'Back', courses_path %>
